<!DOCTYPE html>
<html lang="en">
<head>
    {% load staticfiles %}
    <title>Greedy Genres</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script src ='/static/js/jquery-2.1.4.js'></script>
    <script src ='/static/js/bootstrap.min.js'></script>
    <script src ='/static/js/angular.min.js'></script>
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/genre.css" rel="stylesheet">
    <<script src="/static/js/signup_signin.js"></script>
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">
    <script>


        $(document).ready(function(){
                 console.log("In genre.html");

                  $('.save_genre_btn').click(function(e){
                    console.log('in save genre btn');
                    genre_edit_div = $(this).closest('.genre_box').find('.genre_edit_div');
                    //genre_edit_div.addClass('hide');
                    genre_info_div = $(this).closest('.genre_box').find('.genre_info_div');
                    //genre_info_div.removeClass('hide');
                    genre_name_div = genre_info_div.find('genre_name_div')
                    form_data = genre_edit_div.find('.edit_genre_form').serializeArray();
                    console.log(form_data)
                    console.log(form_data[0].value)
                    new_genre_name = form_data[0].value
                    id = form_data[1].value
                    console.log(id)
                    url = "/greedymusic/genre/" + id
                    console.log("uRL@@@  " + url)
                    $.ajax({
                               url : url,
                               type : "POST",
                               data : form_data,
                               dataType : "json",
                               success:function(res_data){
                                        console.log(res_data);
                                        var success = res_data['success'];
                                        var message = res_data['message'];
                                        console.log("success: " + success);
                                        console.log("message: " + message);
                                        if(success)
                                        {
                                             console.log("In success == True \n");
                                             alert(message)
                                             genre_edit_div.addClass('hide')
                                             genre_info_div.removeClass('hide')
                                             genre_name_div = genre_info_div.find('.genre_name_div_span')
                                             genre_name_div.html(new_genre_name)

                                             //window.location.replace("/greedymusic/genres/")


                                        }
                                        else
                                        {
                                             console.log("In success == false \n");




                                        }

                                     }
                    });
                 })

                 $('.cancel_genre_btn').click(function(e){
                    console.log('in cancel genre btn');
                    genre_edit_div = $(this).closest('.genre_box').find('.genre_edit_div');
                    genre_edit_div.addClass('hide');
                    genre_info_div = $(this).closest('.genre_box').find('.genre_info_div');
                    genre_info_div.removeClass('hide');
                 })

                 $('.edit_genre_btn').click(function(e){
                    e.preventDefault();
                    console.log("edit_genre_btn_clicked");
                    genre_id = $(this).data('id');
                    genre_edit_div = $(this).closest('.genre_box').find('.genre_edit_div');
                    genre_edit_div.removeClass('hide');
                    genre_info_div = $(this).closest('.genre_box').find('.genre_info_div');
                    genre_info_div.addClass("hide")
                    console.log("Genre_id:");
                    console.log(genre_id);
                    //$('.genre_info_div').addclass("hide");
                    //$('.genre_edit_div').removeclass("hide");

                   });

                 $('#add_genre_btn').click(function(e){
                    e.preventDefault();
                    console.log("add_genre_btn_clicked")
                    form_data = $('#add_genre_form').serializeArray()
                    console.log(form_data)
                    url = "/greedymusic/genres"
                    //url = "/greedymusic/addGenre"
                    $.ajax({
                               url : url,
                               type : "POST",
                               data : form_data,
                               dataType : "json",
                               success:function(res_data){
                                        console.log(res_data);
                                        var success = res_data['success'];
                                        var message = res_data['message'];
                                        console.log("success: " + success);
                                        console.log("message: " + message);
                                        if(success)
                                        {
                                             console.log("In success == True \n");
                                             alert(message)
                                             window.location.replace("/greedymusic/genres/")


                                        }
                                        else
                                        {
                                             console.log("In success == false \n");




                                        }

                                     }
                    });


                })


                //add new genre
                $('#add_new_genre_div').on('click', '#add_new_genre_btn', function(e){
                        e.preventDefault();
                        console.log("In add_new_genre_div \n");
                        return
                        var t_id=$(this).data('id');
                        console.log("t_id " + t_id );
                        var savedTaskBox="#saved-task-box-" + t_id;
                        var savedTaskFormOuter="#saved-task-form-outer-" + t_id;
                        var savedTaskForm="#saved-task-form-" + t_id;
                        console.log("savedTaskForm" + savedTaskForm)
                        var url="/ts_app/update_target/" ;
                        console.log("URL :" + url);
                        var datastring = $(savedTaskForm).serializeArray();
                        console.log("DataString: " + datastring);


                        $.ajax({
                                   url : url,
                                   type : "POST",
                                   data : datastring,
                                   dataType : "json",
                                   success:function(res_data){
                                            console.log(res_data);
                                            var success = res_data['success'];
                                            var message = res_data['message'];
                                            console.log("success: " + success);
                                            console.log("message: " + message);
                                            if(success)
                                            {
                                                 $(savedTaskFormOuter).addClass('hide');
                                                 $('#add-task-btn').removeClass('hide');
                                                 console.log("apoorv");
                                                 console.log("T_id " + t_id );
                                                 $('#saved-task-boxes').html(res_data['target_box']);
                                                 var savedTaskMsgBox= savedTaskBox + " .task-msg";
                                                 var savedTaskCol= savedTaskBox + " .task-msg-col";
                                                 console.log("SAVEDTaskBox " + savedTaskMsgBox);
                                                 console.log("SAVEDTaskCol " + savedTaskCol);
                                                 $(savedTaskCol).addClass("alert alert-info");
                                                 $(savedTaskMsgBox).append("<span class='sub-heading' style='padding:5px;'>" + "Participation Updated" +"</span>");
                                                 var Msglink=savedTaskMsgBox +" a" ;
                                                 $(Msglink).removeClass("hide");


                                            }
                                            else
                                            {
                                                  console.log("In success == false \n");
                                                 var updateErrorMsg = savedTaskForm + " #update-prtcptn-error-msg";

                                                 $(updateErrorMsg).html(message);

                                            }

                                         }
                        });

                });
        })
    </script>
</head>

<body >

<!--Start of nav bar-->
    <!--<nav class="navbar navbar-inverse navbar-fixed-top" style="margin-bottom:10px">-->
      <!--<div class="container-fluid">-->
        <!--<div class="navbar-header">-->
          <!--<a class="navbar-brand" href="#">Geedy Music</a>-->
        <!--</div>-->
        <!--<ul class="nav navbar-nav">-->
          <!--<li class="active"><a href="#">Home</a></li>-->
          <!--<li><a href="#"  data-toggle="modal" data-target="#signup_signin">Singup/Login</a></li>-->
          <!--<li><a href="#">Login</a></li>-->

        <!--</ul>-->
      <!--</div>-->
    <!--</nav>-->
<!--End  of nav bar-->
{% include "header.html" %}




    <div id = "container-fluid" id="genre_outermost_wrapper" style="margin-top:60px;word-break:break-all" >


        <!--Showing all Genres-->
    <div  class="mother_div_cont_genres">
        <div class="row" style="margin-bottom:10px;">
            <!--<div class="col-md-3">-->

            <!--</div>-->
            <div class="col-md-12" align="center" style=";font-size: 35px;font-family: 'open sans', sans-serif;">
               Track's Genre
            </div>
        </div>
         <!--Showing all Genres-->
        <div class="row" style="margin-bottom:10px;">
            <!--<div class="col-md-3">-->

            <!--</div>-->
            <div class="col-md-12" id="genre_column">
                {% if genres %}
                    {% for genre in genres %}
                        <!--Start of row_genre_box-->
                        {% if forloop.first %}
                             <div class="row genre_box" style=";border:2px solid black;padding:8px;">
                        {% else %}
                            <div class="row genre_box" style=";border-width:0px 2px 2px 2px;border-style:solid;border-color black;padding:8px;" >
                        {% endif %}
                            <div class="genre_info_div">
                                <div class="col-md-8 genre_name_div" style=";font-size: 25px;font-family: 'Ubuntu', sans-serif" >
                                    <a href="/greedymusic/genre/{{ genre.id}}" >
                                       <span class="genre_name_div_span">
                                           {{ genre.genre_name }}
                                       </span>

                                    </a>
                                </div>
                                <div class="col-md-4" style="padding:8px;">
                                    {% if genre.user == curr_user %}
                                    <button type="button" class="btn btn-primary edit_genre_btn"  data-id="{{ genre.id }}" >Edit</button>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="genre_edit_div hide" style="padding:15px;">
                                <form class="edit_genre_form form-inline center-block" role="form" style="margin-left:30px;" >
                                    <div class="form-group">

                                        <div class="col-md-6">
                                            <input type="text" class="form-control" name="genre_name" value="{{ genre.genre_name }}">
                                            <input type="hidden" value="{{ genre.id }}" name="genre_id">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                            <div class=" col-md-4">
                                                <button type="button" class="btn btn-info save_genre_btn">Save </button>
                                                <!--<button type="button" class="btn btn-info cancel_genre_btn">Cancel </button>-->
                                            </div>
                                            <div class=" col-md-4">
                                                <!--<button type="button" class="btn btn-info save_genre_btn">Save </button>-->
                                                <button type="button" class="btn btn-info cancel_genre_btn">Cancel </button>
                                            </div>
                                    </div>

                                </form>
                            </div>
                        </div>
                        <!--End of row_genre_box-->
                    {% endfor %}
                {% endif %}
            </div>
        </div>

        <!-- Start of Adding new genre div --->
        <div class="row" style="margin-bottom:10px;margin-top:20px;" id="add_new_genre_div" >

            <div class="col-md-12" align="center" >
                 {%if curr_user.is_authenticated %}
                    <button type="button" class="btn btn-primary"   id="add_genre_modal_btn" data-toggle="modal" data-target="#add_genre_modal">
                    <span style="font-size: 20px;font-family: 'open sans', sans-serif;"> Add New Genre </span>
                 {% endif %}
                </button>
            </div>

            <!--Modal for adding new genre-->
            <div id="add_genre_modal" class="modal fade" role="dialog">
                <div class="modal-dialog">

                <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">Add New Genre</h4>
                        </div>
                        <div class="modal-body">
                            <form class="form-horizontal" role="form" name="add_genre_form" id="add_genre_form">
                                <div class="form-group">
                                    <label  class="col-md-2 control-label" for="genre_name">Genre Name</label>
                                    <div class="col-md-10">
                                        <input type="text" class="form-control" name="genre_name" id="genre_name" placeholder="rock/edm"/>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-md-offset-2 col-md-10">
                                      <button type="submit" class="btn btn-default" id="add_genre_btn">Add Genre</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                           <button type="button" class="btn btn-default" data-dismiss="modal" >Close</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End for Modal for adding new genre-->
        </div>
        <!-- End of Adding new genre div --->

        <!-- Pagination-->
        <div class="row" style="margin-bottom:50px;margin-top:50px;">
            <div class="col-md-12" align="center">
                <span class="step-links" style="font-size: 20px;font-family: 'open sans', sans-serif;">
                    <div class="row">
                        {% if genres.has_previous %}
                            <div class="col-md-3 paginate_genre" >
                                 <i class="fa fa-arrow-circle-o-left"></i>
                                <a href="?page={{ genres.previous_page_number }}">Page {{ genres.previous_page_number }}</a>
                            </div>
                        {% endif %}

                        <span class="current" >
                            <div class="col-md-4 col-md-offset-1 paginate_genre">
                            Page {{ genres.number }} of {{ genres.paginator.num_pages }}.
                            </div>
                        </span>

                        {% if genres.has_next %}
                          <div class="col-md-3 col-md-offset-1  paginate_genre">
                            <a href="?page={{ genres.next_page_number }}">Page {{ genres.next_page_number }} <i class="fa fa-arrow-circle-o-right"></i></a>
                          </div>
                        {% endif %}
                    </div>
                </span>
            </div>
        </div>
        <!--End of Pagination-->
    </div>
   </div>


</body>
</html>